@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';
body {
  font-family: 'Outfit', sans-serif;
}

@theme {
  --color-dark-bg: #02030b;
  --color-main: #301053;
  --color-blue-bg: #6331F1;
  --color-dark-gray: #10192A;
}


@layer base {
}
@layer components {
  .container {
    @apply mx-auto px-3 sm:px-4 max-w-xl;
  }
}
@layer utilities {
  .para-text{
    @apply text-sm sm:text-lg text-[#E7E8EA] font-light
  }
  .flex-center{
    @apply flex justify-center items-center
  }
   .flex-between{
    @apply flex justify-between items-center
  }
  .btn-gradient{
    @apply bg-gradient-to-b from-[#6331F1] from-0% via-[#6D43E4] via-60% to-[#9F63FF] to-100% sm:text-2xl font-medium
  }
}
